doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title {% if self.page_title() %}{% block page_title %}{% endblock %} — {% endif %}SVNman
		meta(name="viewport", content="width=device-width, initial-scale=1.0")

		| {% block head %}{% endblock %}

		link(href="{{ url_for('static_pillar', filename='assets/css/font-pillar.css') }}", rel="stylesheet")
		link(href="{{ url_for('static_svnman', filename='assets/css/main.css') }}", rel="stylesheet")
		script(src="{{ url_for('static_pillar', filename='assets/js/vendor/jquery-3.1.0.min.js')}}")
		script(src="{{ url_for('static_pillar', filename='assets/js/vendor/jquery.bootstrap-3.3.7.min.js') }}")
		script(src="{{ url_for('static_pillar', filename='assets/js/tutti.min.js') }}")
		script.
			pillar.utils.initCurrentUser({{ current_user | json | safe }});
		script(src="{{ url_for('static_svnman', filename='assets/js/generated/tutti.min.js') }}")
		script(src="{{ url_for('static_pillar', filename='assets/js/vendor/clipboard.min.js')}}")

		link(href="{{ url_for('static_svnman', filename='assets/img/favicon.png') }}", rel="shortcut icon")

		| {% block style %}{% endblock %}

	body("{% block bodyattrs %}{% endblock %}")
		#app-main
			#col_sidebar
				nav.sidebar(role='navigation')
					ul
						li
							a.navbar-item.cloud(href="{% if project %}{{url_for('projects.view', project_url=project.url)}}{% else %}{{ url_for('main.homepage') }}{% endif %}",
								title='Blender Cloud')
								i.pi-blender-cloud
						li
							a.navbar-item.svnman(href="{{ url_for('svnman.index') }}",
								title='SVNman')
								i.pi-svnman
					ul.bottom

						| {% include 'menus/notifications.html' %}
						| {% include 'menus/user.html' %}

			| {% block body %}
			#col_left
			#col_main
				h1 Main
			#col_right
				h1 Right
			| {% endblock %}

		.modal.fade#modal(role="dialog")
			.modal-dialog
				.modal-content
					.modal-header
						button.close(type="button", data-dismiss="modal", aria-label="Close")
							i.pi-cancel
						span.title
					.modal-body

		script(src="{{ url_for('static_pillar', filename='assets/js/vendor/jquery.select2.min.js') }}", async=true)
		script.
			{% if project %}
			$('.js-help').openModalUrl('Help', "{{ url_for('svnman.help', project_url=project.url) }}");
			{% endif %}

			$(document).ready(function() {
				{% if current_user.is_authenticated %}
					getNotificationsLoop(); // Check for new notifications in the background

					// Resize #notifications and change overflow for scrollbars
					$(window).on("resize", function() { notificationsResize(); });
				{% endif %}
			});

			$(window).on('load resize', function(){
				var window_height = $(window).height() - 55; // header is 55px
				$('.col-scrollable').css({'height': window_height});
			});

		| {% block footer_scripts %}{% endblock %}
