| {% if current_user.has_cap('svn-use') %}
li
	a.navbar-item(
		href=href="{{ url_for('projects.edit_extension', project_url=project.url, extension_name='svnman')}}"
		title="Subversion")
		i.pi-svnman
		span Subversion
| {% endif %}
