| {% if current_user.has_cap('svn-use') %}
li.tabs-svnman(
	title="Subversion",
	data-toggle="tooltip",
	data-placement="right")
	a(href="{{ url_for('projects.edit_extension', project_url=project.url, extension_name='svnman')}}")
		i.pi-svnman
| {% endif %}
