| {% extends 'svnman/project_settings/svnman_layout.html'  %}

| {% block svnman_container %}
#node-edit-form
	p This project does not have a Subversion repository
	p
		button.btn.btn-success(onclick='createRepo()') Create Subversion repository

| {% endblock svnman_container %}

| {% block footer_scripts %}
script.
	function createRepo() {
		$.ajax({
			url: '{{ url_for( "svnman.create_repo", project_url=project.url) }}',
			method: 'POST',
		})
		.done(function() {
			window.location.reload();
		})
		.fail(function(err) {
			var err_elt = xhrErrorResponseElement(err, 'Error creating your repository: ');
			toastr.error(err_elt);
		});
	}
| {% endblock %}
