| {% extends "errors/layout.html" %}
| {% block body %}
#error_container.standalone
	#error_box
		.error-top-container
			.error-title Service not available.
		.error-lead
			p
				| The Subversion service requires a special subscription.
| {% endblock %}
